@model object

@{
    ViewBag.Title = "Protected";
    if (ViewBag.error != null)
    {
        <h2>پیغام خطا</h2>
        <h2>@ViewBag.error</h2>
    }
}

<h2>Protected</h2>

<div>
    This is a protected page! Welcome user @Model.ToString()
</div>
